body {
    background: url('/images/white_texture.png') repeat;
    color: #555;
    font-family: sans-serif;
}
#wrapper {
    background: transparent;
    margin: 10px auto;
    overflow: hidden;
    width: 960px;
}
#header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 30px;
    padding-bottom: 3px;
    overflow: hidden;
}
ul {
    padding: 0;
}
a {
    color: #31a355;
    text-decoration: none;
}
a:hover {
    color: #4BB461;
    text-decoration: none;
}
a img {
    border: 0;
    vertical-align: baseline;
}
h1 {
    font-size: 25px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 15px;
    margin: 25px 0px 10px 0px;
}
dl {
    margin-top: 5px;
}
dt {
    font-style: italic;
}
tr.separator {
    border-bottom: 1px solid #CCC;
}
td {
    vertical-align: top;
    padding-right: 10px;
}
td ul {
    margin: 0;
    padding-left: 15px;
}
#header h1 {
    float: left;
    margin: 0;
}
ul#navigation {
    display: block;
    float: right;
    list-style: none;
    margin: 5px 0;
    text-align: right;
}
ul#navigation li {
    float: left;
    margin-left: 14px;
}
ul.posts {
    list-style: none;
}
ul.posts li span {
    color: #999;
}