body {
    background: url('/images/white_texture.png') repeat;
    color: #555;
    font-family: sans-serif;
}
#wrapper {
    background: transparent;
    margin: 10px auto;
    overflow: hidden;
    width: 960px;
}
#header {
    border-bottom: 1px solid #DDD;
    margin-bottom: 15px;
    padding-bottom: 3px;
    overflow: hidden;
}
a {
    color: #31a355;
    text-decoration: none;
}
#wrapper {
    color: #666;
    font-size: 16px;
    line-height: 26px;
}
p {
    margin: 0 0 20px 0;
}
ul {
    list-style-position: inside;
    padding: 0;
}
img {
    margin: 5px 0;
}
pre {
    background: #EEE;
    border: 1px solid #DDD;
    padding: 10px 25px;
}
code {
    background: #EEE;
    border: 1px solid #DDD;
    padding: 0 2px;
}
pre code {
    border: none;
    padding: 0;
}
a:hover {
    color: #4BB461;
    text-decoration: underline;
}
a img {
    border: 0;
    vertical-align: baseline;
}
h1 {
    font-size: 31px;
}
h2 {
    font-size: 24px;
    margin: 25px 0 15px 0;
}
h3 {
    font-size: 22px;
    margin: 35px 0 5px 0;
}
h4 {
    font-size: 19px;
    margin: 20px 0 5px 0;
}
dl {
    margin-top: 5px;
}
dt {
    font-style: italic;
}
tr.separator {
    border-bottom: 1px solid #CCC;
}
td {
    vertical-align: top;
    padding-right: 10px;
}
td ul {
    margin: 0;
    padding-left: 15px;
}
.post_date {
    color: #999;
}
#header h1 {
    float: left;
    margin: 0;
}
ul#navigation {
    display: block;
    float: right;
    list-style: none;
    margin: 2px 0;
    text-align: right;
}
ul#navigation li {
    float: left;
    margin-left: 14px;
}

#profile {
    float: right;
    margin: 0;
}
.thumbnails img {
    margin: 0;
}
.thumbnails h3 {
    margin: 0 0 25px 0;
    text-align: center;
}
.summary {
    margin: 0 0 50px 0;
}
.summary ul {
    padding: 0 10px;
}
.summary li {
    display: block;
    overflow: hidden;
    padding-bottom: 3px;
    margin: 5px 0 5px 0;
}
.summary h3 {
    margin: 10px 0 5px 0;
}
.summary img {
    margin: 0;
}
.summary div {
    float: left;
}
.summary .thumbnail {
    width: 300px;
}
.summary p {
    float: right;
    width: 640px;
}
.summary.thumbnails li {
    float: left;
    list-style: none;
    margin: 0 10px;
    width: 300px;   
}
#projects li {
    margin-bottom: 15px;
}
