<!DOCTYPE html>
<html>
<head>
	<title>Glen Robertson, Software Engineer</title>
	
	<!--Meta-->
	<meta name="description" content="Glen Robertson">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	
	<!--Styles and type-->
	<link href="assets/css/style.css" rel="stylesheet">
	<script src="https://use.typekit.net/tea2qzw.js"></script>  
	<script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
	<div class="bg"></div>
	<main>
		<header>
			<h1>Glen Robertson</h1>
		</header>
		<footer>
			<ul>
				<li><a href="/blog.html">Blog</a></li>
                <li><a href="/projects.html">Projects</a></li>
                <li><a href="/resume.html">Resume</a></li>
                <li><a href="/contact.html">Contact</a></li>
			</ul>
		</footer>
	</main>
</body>
</html>